src/main/resources/customer.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/customer"
           xmlns:tns="http://example.com/customer"
           elementFormDefault="qualified">

    <xs:element name="SaveCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SaveCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- New: ListCustomersRequest (no fields) -->
    <xs:element name="ListCustomersRequest">
        <xs:complexType/>
    </xs:element>

    <!-- New: Customer type -->
    <xs:complexType name="Customer">
        <xs:sequence>
            <xs:element name="id"   type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- New: ListCustomersResponse with zero-or-more Customer -->
    <xs:element name="ListCustomersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer"
                            type="tns:Customer"
                            minOccurs="0"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
